@font-face {
    font-family: Mona-Sans;
    src: url(/Mona-Sans.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    background-color: black;
}

/* .main {
    color: rgb(255, 255, 255);
    background-color: black;
} */
.elem {
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
    border-bottom: 2px solid rgb(255, 255, 255);
} 

.elem h1 {
    font-size: 6vw;
    font-family: Mona-Sans;
}



.elem img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    opacity: 0;   
}